<section class="profile-banner pt-5 pb-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card text-white bg-secondary mb-3">
                    <div class="card-body">
                        <h2 class="card-title">Details</h2>
                        <div class="card-text">
                            <div class="row">
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-1"><i class="pi pi-envelope"></i></div>
                                        <div class="col-11"><a href="mailto:dhundura@gmail.com">dhundura@gmail.com</a>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-1"><i class="pi pi-phone"></i></div>
                                        <div class="col-11"><a href="tel:+447778873361">+44 777 887 3361</a></div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-1"><i class="pi pi-map-marker"></i></div>
                                        <div class="col-11">Bournemouth, United Kingdom</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-1"><i class="pi pi-calendar"></i></div>
                                        <div class="col-11">Availability: Immediately</div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-1"><i class="pi pi-list"></i></div>
                                        <div class="col-11">Location Preferences:<br /> Remote / Hybrid / Bournemouth
                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-6">
                                    <div class="row">
                                        <div class="col-1"><i class="pi pi-linkedin"></i></div>
                                        <div class="col-11"><a
                                                href="https://www.linkedin.com/in/apurva-dhundur-a93827163"
                                                target="_blank">https://www.linkedin.com/in/apurva-dhundur-a93827163</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card text-white bg-secondary mb-3">
                    <div class="card-body">
                        <h2 class="card-title">Skills</h2>
                        <table class="table table-responsive">
                            <tr>
                                <td style="width: 5%;"><i class="pi pi-chart-bar"></i></td>
                                <td>Data Visualization</td>
                                <td style="width: 5%;"><i class="pi pi-th-large"></i></td>
                                <td>Data Analysis</td>
                            </tr>
                            <tr>
                                <td><i class="pi pi-list"></i></td>
                                <td>Data Cleaning</td>
                                <td><i class="pi pi-shopping-cart"></i></td>
                                <td>Data Mining</td>
                            </tr>
                            <tr>
                                <td><i class="pi pi-file-export"></i></td>
                                <td>Data Extract</td>
                                <td><i class="pi pi-map"></i></td>
                                <td>Data Mapping</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="card text-white bg-secondary mb-3">
                    <div class="card-body">
                        <h2 class="card-title">Technical Skills</h2>
                        <div class="card-text">
                            <div class="row">
                                <div class="col-xl-6">
                                    <b>Data Science Project at University:</b>
                                    <ul>
                                        <li>Market Basket Analysis</li>
                                        <li>Diabetic Analysis</li>
                                    </ul>

                                    <b>Languages Known:</b><br />Python, R Language, C++, JavaScript,
                                    TypeScript<br /><br />

                                    <b>BI Tool:</b><br />
                                    PowerBI, Tableau, Google DS, MS Excel<br /><br />

                                    <b>Framework & Libraries:</b><br />
                                    Anaconda, Angular, Chai, Mocha, AWS<br /><br />

                                </div>
                                <div class="col-xl-6">


                                    <b>Database Knowledge:</b><br />
                                    MS SQL, MySQL<br /><br />

                                    <b>IDE & Tools:</b><br />
                                    Visual Studio, Idea, Eclipse.<br /><br />

                                    <b>Web technologies:</b><br />
                                    HTML CSS, Javascript, PHP, Node JS<br /><br />

                                    <b>Operating Systems:</b><br />
                                    Windows 7, 8 10,11, XP, Linux, Ubuntu.<br /><br />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>