<section id="profile-experience">
    <div class="container mt-5">
        <h2>Work Experience</h2>
        <div class="row">
            <div class="col-lg-6">
                <h4 class="mt-5">Data Analyst at Hi-Tech Plus</h4>
                <div class="row">
                    <div class="col-lg-6 col-md-4 col-sm-6">
                        <i class="pi pi-calendar mr-2"></i>
                        <i>May 2023 - Present</i>
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-6">
                        <i class="pi pi-map-marker mr-2"></i>
                        <i>United Kingdom</i>
                    </div>
                </div>
                <br/>
                <b>Achievements/Tasks</b>
                <ul>
                    <li>Data cleaning and preparation:
                        <ul>
                            <li>Cleaned and prepared data sets for analysis, removing errors and inconsistencies by
                                using <span class="highlight-text">Excel, PowerQuery</span></li>
                            <li>Developed data cleaning and preparation procedures to ensure the accuracy and
                                consistency of data sets.</li>
                        </ul>
                    </li>
                    <li>Data analysis:
                        <ul>
                            <li>Analysed data sets using statistical and machine learning techniques to identify
                                patterns and
                                trends <span class="highlight-text">Using Tableau, PowerBI</span> and <span class="highlight-text">GoogleDS</span></li>
                            <li>Developed data analysis reports that communicated the results of the analysis to
                                stakeholders.
                            </li>
                        </ul>
                    </li>
                    <li>Data visualisation:
                        <ul>
                            <li>Created data visualisations using charts, graphs, and other visual representations to
                                communicate the results of data analysis By Using <span class="highlight-text">BI Tools</span> such as 
                                <span class="highlight-text">Tableau, PowerBI, GoogleDS and Excel</span>.</li>
                            <li>Collaborated with stakeholders to ensure that data visualisations were clear and easy to
                                understand.</li>
                        </ul>
                    </li>
                    <li>Communication:
                        <ul>
                            <li>Communicated the results of data analysis to stakeholders clearly and concisely.</li>
                            <li>Presented data visualisations to stakeholders in a way that was engaging and
                                informative.</li>
                        </ul>
                    </li>
                    <li>Problem-solving:
                        <ul>
                            <li>Identified and solved problems related to data analysis.</li>
                            <li>Developed solutions to data analysis problems that were efficient and effective.</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <h4 class="mt-5">Data Analyst at Alexander Maclean (Part-Time)</h4>
                <div class="row">
                    <div class="col-lg-6 col-md-4 col-sm-6">
                        <i class="pi pi-calendar mr-2"></i>
                        <i>April 2023 - Present</i>
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-6">
                        <i class="pi pi-map-marker mr-2"></i>
                        <i>United Kingdom</i>
                    </div>
                </div>
                <br/>
                <b>Achievements/Tasks</b>
                <ul>
                    <li>Collect and clean large datasets to ensure the accuracy and completeness of data, Using <span class="highlight-text">Excel</span> or <span class="highlight-text">Power Query</span></li>
                    <li>Analyse data using statistical methods and tools such as <span class="highlight-text">SQL, Python, and R</span>. Develop and implement data models to extract meaningful insights from data.</li>
                    <li>Create data visualisations to communicate complex data insights to stakeholders. Design and implement data pipelines to automate data processing and analysis. Collaborate with cross-functional teams to determine business requirements and data needs using <span class="highlight-text">Excel, PowerBI, Tableau or Google DS</span></li>
                    <li>Cleansed data in systems, to remove duplicates, which has led to an increase in productivity by 5%.Introduced BI tool, which has led to improved business strategy.</li>
                    <li>Projects :
                        <ol>
                            <li>Analysing Churn Using Tableau and PowerBI</li>
                            <li>Sales Data Analysis from the year 2020-2022 Using Tableau and PowerBI</li>
                        </ol>
                    </li>
                </ul>
            </div>
            <div class="col-lg-6">
                <h4 class="mt-5">Senior Consultant at Infocenter</h4>
                <div class="row">
                    <div class="col-lg-6 col-md-4 col-sm-6">
                        <i class="pi pi-calendar mr-2"></i>
                        <i>August 2020 - October 2022</i>
                    </div>
                    <div class="col-lg-6 col-md-4 col-sm-6">
                        <i class="pi pi-map-marker mr-2"></i>
                        <i>Pune, India</i>
                    </div>
                </div>
                <br/>
                <b>Worked on ETL process to extract data from the APIs</b><br/>
                <b>Glew.io(ETL project):</b> Worked with US glew team to fetch the data from different APIs, this process consisted  of:
                <ol>
                    <li><b>Data Automation:</b> in this stage, data in <span class="highlight-text">Excel</span> files get converted into <span class="highlight-text">JSON</span> files to  extract data or to fetch data from APIs.</li>
                    <li><b>Data Extract:</b> in this stage, JSON file data gets converted into a .js file to fetch the data, this part consists of the <span class="highlight-text">Retry Client</span> which is used to generate URLs for the given API with <span class="highlight-text">authentication and promises. Full / date iterators</span> were used to iterate data according to the needs of the company.</li>
                    <li><b>Data Load and transform</b></li>
                    <li><b>Unit testing</b></li>
                </ol>
            </div>
        </div>
    </div>
</section>