<div class="container-fluid profile-header">
    <div class="row">
        <div class="col-lg-12">
            <div class="row profile-gradient">
                <div class="col-sm-12 col-md-1 col-lg-6">
                </div>
                <div class="col-sm-12 col-md-6 col-lg-4">
                    <h1>Apurva Dhundur</h1>
                    <h3 class="mb-5 mt-2">Data Analyst</h3>
                    <p>I am a dynamic Data analyst with over 2.7+ years of strong in performing experience analysis reporting, creating, and maintaining 
                        data migration design documentation, risk assessing, data mining, data cleansing and analysis in the IT & Financial Services 
                        Industry.
                    </p>
                    <p>I possess strong knowledge of: 
                        <span class="skills-list">
                            <span *ngFor="let skill of skills" class="badge rounded-pill bg-light">{{skill}}</span>
                        </span>
                    </p>
                    <div class="profile-header-end"></div>
                </div>
            </div>
        </div>
    </div>
</div>